* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    /* background-color: #333; */
    /* background: linear-gradient(to top, #00b2df 0%, #0060b8 100%); */
    color: #fff;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Rubik Mono One', sans-serif;
}

body button {
    font-size: 35px;
    background-color: white;
    color: #00ABDC;
    padding: 10px 20px;
    border: 1px solid white;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover{
 background-color: transparent;
 color: white;
 transition: all 0.3s linear;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 50px;
    margin-bottom: 70px;
}

ul {
    list-style: none;
    font-size: 20px;
    padding: 3px;
    margin-top:10px;
    width: 50%;
}

canvas{
    width: 50vw;
    height: 100vh;
}

.container {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: 50vw;
    height: 100vh;
    padding: 30px 0px 50px 70px;
    /* display: flex;
    flex-direction: column; */
    /* border: 2px solid white; */
}

.instructions-container {
    background-color: transparent;
    width: 47.2vw;
    position: fixed;
    /* display: flex;
    justify-content: space-around; */
}