body{
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

body button {
    font-size: 20px;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

canvas {
    background-image: url(./images/background.png);
    border-radius: 5px;
}
